/***************************************************************************************************************
||||||||||||||||||||||||||||       MASTER STYLESHEET GREEN VILLAGE           |||||||||||||||||||||||||||||||||||
****************************************************************************************************************
||||||||||||||||||||||||||||              TABLE OF CONTENT                  ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************
****************************************************************************************************************

1. Imported styles
2. Global styles
3. Button style
4. Sec title style
5. Header-style
6. Swiper Slider style
7. page title style
8. latest-news style
9. feature style
10. google map Section style
11. contact Section style
12. Team Member styles
13. latest-gallery styles 
14. Checkout Area style
15. page_pagination style
16. footer style
17. about style
18. our-services style
19. recent-project style
21. Parallax Style One
22. team Section style
23. two-column style
24. service-single Section style
25. gallery Section
26. Side Bar Style
27. Blog Page Style
28. blog grid page style
29. feature-style-three
30. contact_us style
31. error page style

****************************************************************************************************************
||||||||||||||||||||||||||||            End TABLE OF CONTENT                ||||||||||||||||||||||||||||||||||||
****************************************************************************************************************/

/* 
==========================================
   1. Imported styles
==========================================
*/

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

@import url(bootstrap.min.css);
@import url(bootstrap-select.min.css);
@import url(jquery.bootstrap-touchspin.css);

@import url(mainmenu.css);

@import url(font-awesome.css);
@import url(flaticon.css);

@import url(jquery.bxslider.css);
@import url(flexslider.css);

@import url(jquery-ui.css);
@import url(jquery.fancybox.css);
@import url(polyglot-language-switcher.css);

@import url(animate.min.css);
@import url(nouislider.css);
@import url(nouislider.pips.css);
@import url(magnific-popup.css);
@import url(hover.css);

/* 
============================================
   2. Global styles
============================================
*/

body {
  color: #222222;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
a {
  text-decoration: none;
  display: inline-block;
  outline: none;
}
a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
}

img {
  width: 100%;
  display: inline-block;
}

button {
  border: none;
  outline: none;
  box-shadow: none;
  display: block;
  padding: 0;
  background: transparent;
}
input,
textarea {
  display: block;
  font-size: 16px;
  line-height: 28px;
  outline: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.boxed_wrapper {
  width: 100%;
  background: #fff;
  overflow-x: hidden;
}
.clear_fix {
  clear: both;
}
.clear_fix:after {
  display: table;
  content: "";
  clear: both;
}
.list_inline li {
  display: inline-block;
}
.social li {
  display: inline-block;
  font-size: 14px;
}
.social li a {
  color: #fff;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.uppercase {
  text-transform: uppercase;
}
.padd-80 {
  padding-top: 80px;
}
.tran3s {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.center {
  text-align: center;
}

.row-5 {
  margin: 0 -5px;
}
.thm-color {
  color: #48c7ec;
}

.bold {
  font-weight: 700;
}
.s-bold {
  font-weight: 600;
}
.m-bold {
  font-weight: 600;
}

.float_left {
  float: left;
}
.float_right {
  float: right;
}

@media (min-width: 1200px) {
  .container {
    padding: 0;
  }
}
/*
===============================================
  3. button style
===============================================
*/

/*btn-style-one*/

.btn-style-one {
  position: relative;
  background: #75b519;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  border: 2px solid #75b519;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 26px;
  font-family: "Roboto", sans-serif;
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
  transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
}
.btn-style-one:hover {
  background: transparent;
  color: #75b519;
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
  transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
}
.menu-button .btn-style-one {
  margin-left: 30px;
  top: 14px;
}
/*btn-style-two*/
.btn-style-two {
  position: relative;
  background: #fff;
  font-size: 14px;
  font-weight: 700;
  color: #222;
  border: 2px solid #fff;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 26px;
  font-family: "Roboto", sans-serif;
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
  transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
}
.btn-style-two:hover {
  background: transparent;
  color: #fff;
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
  transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
}

/*
--------------------------------------------
  4. sec title style
--------------------------------------------
*/
.sec-title {
  position: relative;
  margin-bottom: 17px;
}
.sec-title h2 {
  position: relative;
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 30px;
  text-transform: capitalize;
  font-weight: 500;
}
.sec-title h2:before {
  content: "";
  position: absolute;
  bottom: -15px;
  width: 60px;
  height: 3px;
  background: rgb(117, 181, 25);
}
.sec-title span {
  color: #75b519;
}

.scroll-top {
  width: 50px;
  height: 40px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  display: none;
  color: #fff;
  text-align: center;
  background: #75b519;
}
.scroll-top span:before {
  font-size: 27px;
}
.scroll-top:after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: -webkit-radial-gradient(
    center ellipse,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0) 80%
  );
}

.preloader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #ffffff;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url(../images/icons/preloader.gif);
}

/*
=================================================
  5. header-style
=================================================
*/
.header-top {
  position: relative;
  font-size: 13px;
  padding: 10px 0px;
  background: none repeat scroll 0 0 rgba(39, 39, 39, 0.88);
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  border-bottom: 3px solid #75b519;
}

.header-top .top-left span {
  color: #75b519;
}
.header-top .top-left p {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.header-top .top-right .list li {
  display: inline-block;
  margin-left: 30px;
  color: #ffffff;
  transition: all 500ms ease 0s;
}
.header-top .top-right .list li a {
  color: #fff;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.header-top .top-right .list li a:hover {
  color: #75b519;
  transition: 0.5s;
}
.header-top .top-right .list li i {
  margin-right: 8px;
}

/*
===========================================================
  swiper slider
===========================================================
*/

.mainswiper {
  width: 100%;
  height: 735px;
  position: relative;
  
}

.mainswiper .swiper-slide {
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainswiper .slide {
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.mainswiper .swiper-slide .slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 2;
  padding: 0px 15px;
}

.mainswiper .swiper-slide .slide-content h1 {
  font-size: 70px;
  font-weight: bold;
  max-width: 940px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.mainswiper .swiper-slide .slide-content p {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.mainswiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainswiper .swiper-slide .animate-text {
  opacity: 0;
  transform: translateY(30px);
}

/* When active */
.mainswiper .swiper-slide .animate-active {
  animation: fadeUp 1s ease-out forwards;
}

.mainswiper .swiper-slide .delay-1 {
  animation-delay: 0.5s;
}

.mainswiper .swiper-slide .delay-2 {
  animation-delay: 1s;
}

.mainswiper .swiper-slide .slide-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.mainswiper .swiper-slide .btn {
  padding: 13px 35px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  border-radius: 0px;
  transition: 0.3s ease;
  text-transform: uppercase;
}

.mainswiper .swiper-slide .contact-btn {
  background-color: #75b519;
  color: #fff;
  transition: all 0.4s ease;
}
.mainswiper .swiper-slide .contact-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  background: #69a512;
  transition: all 0.4s ease;
}

.mainswiper .swiper-slide .service-btn {
  background: #ffffff;
  color: #272727;
  transition: all 0.4s ease;
}
.mainswiper .swiper-slide .service-btn:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  background: #75b519;
  color: #fff;
  transition: all 0.4s ease;
}

/* swiper button */
.mainswiper .swiper-button-next,
.mainswiper .swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.mainswiper .swiper-button-next::after,
.mainswiper .swiper-button-prev::after {
  font-size: 18px !important;
  color: #fff;
}

.mainswiper .swiper-button-next:hover,
.mainswiper .swiper-button-prev:hover {
  background-color: #75b519;
  border: 2px solid #75b519;
  color: #fff;
}

.mainswiper .swiper-button-next:hover::after,
.mainswiper .swiper-button-prev:hover::after {
  color: #fff;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/*
===========================================================
  features
===========================================================
*/
.features {
  padding: 80px 0px 55px;
}
.features .sec-title {
  text-align: center;
}
.features .sec-title p {
  max-width: 650px;
  margin: 0 auto;
  color: #848484;
  margin-top: 20px;
}

.features .single-item {
  margin-bottom: 25px;
  position: relative;
  padding-left: 80px;
  background: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-left: 1px solid #7aba1e;
}

.features .single-item:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.features .single-item.border:after {
  position: absolute;
  content: "";
  border-right: 10px solid #eeeeee;
  border-bottom: 10px solid #eeeeee;
  top: 39px;
  right: -34px;
  bottom: 8px;
  left: 118px;
  z-index: 5;
  transition: 0.5s ease;
}
.features .single-item .content {
  position: relative;
}
.features .single-item .top-border {
  left: 0px;
  width: 100%;
  height: 1px;
  background: #eee;
  position: absolute;
  transform: rotate(180deg);
}
.features .single-item .right-border {
  top: 0px;
  right: 0px;
  width: 1px;
  height: 100%;
  background: #eee;
  position: absolute;
  transform: rotate(180deg);
}
.features .single-item .bottom-border {
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 1px;
  background: #eee;
  position: absolute;
}
.features .single-item .top-border:before,
.features .single-item .right-border:before,
.features .single-item .bottom-border:before {
  top: 0;
  left: 0;
  background: #7aba1e;
  content: "";
  position: absolute;
}
.features .single-item .top-border:before {
  width: 0%;
  height: 100%;
  transition: all 0.3s ease 0s;
}
.features .single-item .right-border:before {
  width: 100%;
  height: 0%;
  transition: all 0.3s ease 0.3s;
}
.features .single-item .bottom-border:before {
  width: 0%;
  height: 100%;
  transition: all 0.3s ease 0.6s;
}
.features .single-item:hover .top-border:before {
  transition: all 0.3s ease 0.6s;
}
.features .single-item:hover .right-border:before {
  transition: all 0.3s ease 0.3s;
}
.features .single-item:hover .bottom-border:before {
  transition: all 0.3s ease 0s;
}

.features .single-item:hover .top-border:before,
.features .single-item:hover .bottom-border:before {
  width: 100%;
}
.features .single-item:hover .right-border:before {
  height: 100%;
}

.features-left-bg {
  background: #ededed none repeat scroll 0 0;
  height: 100%;
  overflow: hidden;
  width: 80px;
  border-left: 2px solid #7aba1e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.features .single-item:hover .features-left-bg {
  background: #7aba1e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.features .single-item .icon-box {
  position: absolute;
  margin-top: -30px;
  top: 50%;
  left: 14px;
  width: 55px;
  height: 55px;
  text-align: center;
}

.features .icon-box i,
.features .icon-box i:before {
  font-size: 40px;
  color: #7aba1e;
  top: 0px;
  margin: 0;
}

.features .single-item:hover .icon-box {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.features .content-box {
  overflow: hidden;
  padding: 32px 10px 30px;
}
.features .content-box h4 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
}
.features .content-box h4 a {
  color: #222222;
  transition: 0.5s;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.features .content-box h4 a:hover {
  color: #7aba1e;
  transition: 0.5s;
}

/* 
===================================================================
  about-section styles 
===================================================================
*/

.about-section {
  padding: 20px 0px 80px;
}
.about-section.about {
  padding: 80px 0px 80px;
}

.about-section .single-item h2 {
  color: #222;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 25px;
  position: relative;
}
.about-section .single-item h2 :before {
  content: "";
  left: 0;
  position: absolute;
  bottom: -20px;
  width: 80px;
  height: 3px;
  background: rgb(117, 181, 25);
}
.about-section .single-item h2 span {
  color: #75b519;
}

.about-section .single-item p {
  color: #555555;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.5px;
  margin: 0;
}
.about-section .single-item p.style-2 {
  margin-top: 20px;
}
.about-section .single-item h4 {
  color: #272727;
  font-size: 20px;
  font-weight: bold;
  padding: 24px 0px 14px;
}
.about-section .single-item h4 a {
  color: #75b519;
}

.about-section .link_btn {
  margin-top: 30px;
}
.about-section .single-item .image-box {
  margin-top: 0px;
}

/*
===========================================================
  our service
===========================================================
*/
.our-service {
  padding: 80px 0px 80px;
  background: #f7f7f7;
}
.our-service .sec-title {
  margin-bottom: 50px;
  text-align: center;
}
.our-service .sec-title h2:before {
  left: 50%;
  margin-left: -30px;
}
.service-list h3 {
  color: #272727;
  font-size: 24px;
  font-weight: bold;
  line-height: 26px;
  padding-bottom: 20px;
  padding-top: 10px;
}
.service-list .img_holder {
  position: relative;
  overflow: hidden;
}

.service-list .item .img_holder .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(106, 175, 8, 0.8);
  padding: 14px;
  transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transition: all 500ms ease 0s;
}

.service-list .item:hover .overlay,
.service-list .item:focus .overlay {
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}
.service-list .item:hover .link-btn a {
  color: #75b519;
  -webkit-transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
  transition: all 0.5s cubic-bezier(0.4, 0, 1, 1);
}
.service-list .item .text {
  padding: 15px 20px 15px;
  text-align: center;
  border: 1px solid #75b519;
}

.service-list .overlay .inner {
  align-items: center;
  border: 1px dashed rgba(255, 255, 255, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
}
.service-list .overlay .inner i:before {
  color: #fff;
  font-size: 35px;
}
.service-list .text h4 {
  margin-bottom: 5px;
}
.service-list .text h4 a {
  color: #272727;
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  display: block;
  transition: all 500ms ease 0s;
}
.service-list .text .link-btn a {
  color: #272727;
  font-weight: 500;
  font-size: 14px;
  display: block;
  font-weight: 700;
}
.service-list .text .link-btn a:hover {
  color: #75b519;
}
.service-list .text p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 5px;
}

.service-list .text a i {
  margin-left: 5px;
}
.service-list .item .inner i:before {
  margin: 0px;
  font-size: 45px;
  color: #fff;
}

/*
================================================================== 
   page-banner Style 
==================================================================
*/

.page-banner {
  padding: 130px 0px;
  text-align: center;
  color: #fff;
  background-position: center center;
}
.page-banner .content h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}
.page-banner .content p {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.page-banner .breadcumb li {
  display: inline-block;
  margin-right: 5px;
}
.page-banner .breadcumb li a {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
.page-banner .breadcumb li a:hover {
  color: #75b519;
  transition: 0.5s;
}
.page-banner .breadcumb i {
  margin-left: 6px;
  font-size: 12px;
}
.page-banner .breadcumb .active {
  color: #75b519;
}

/*** 
=============================================
    15. page_pagination style
=============================================
***/
.page_pagination {
  text-align: center;
  padding-top: 20px;
}
.page_pagination li {
  display: inline-block;
  margin: 0 4px;
}
.page_pagination li a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 1px solid rgba(229, 229, 229, 0.57);
  text-align: center;
  color: #848484;
  font-size: 18px;
}
.page_pagination li a.active,
.page_pagination li a:hover {
  color: #fff;
  background: #75b519;
}

/* 
==========================================================
  21. Parallax Style 
==========================================================
*/

.parallax-style {
  position: relative;
  padding: 40px 0px 50px;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center center;
  color: #ffffff;
}

/*
------------------------------------------------
  Fact Counter 
------------------------------------------------
*/

.fact-counter {
  position: relative;
  overflow: hidden;
  color: #ffffff;
  padding-top: 55px;
}

.fact-counter:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  opacity: 0.8;
  z-index: 0;
}

.fact-counter .auto-container {
  position: relative;
  z-index: 1;
}

.fact-counter .column {
  position: relative;
  margin-bottom: 40px;
  text-align: center;
  z-index: 5;
}
.fact-counter .item {
  color: #222;
}

.fact-counter .column .icon span {
  position: relative;
  top: 0px;
  font-size: 50px;
  position: absolute;
  line-height: 70px;
  top: -5px;
  left: 0;
  margin-bottom: 20px;
  color: #ab7442;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.fact-counter .count-outer {
  position: relative;
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.fact-counter .counter-column p {
  margin-top: 2px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
}
.fact-counter .counter-column .item .inner-box {
  position: relative;
}
.fact-counter .counter-column .item .inner-box .icon-box {
  margin-bottom: 5px;
}
.fact-counter .counter-column .item .inner-box .icon-box i {
  color: #fff;
}
.fact-counter .counter-column .item .inner-box .icon-box i:before {
  margin: 0;
  font-size: 40px;
  line-height: 60px;
}

/*
================================================
  30. contact_us style
================================================
*/
.contact_us {
  padding: 80px 0px 70px;
}
.contact_us .sec-title h2:before {
  left: 50%;
  margin-left: -30px;
}
.contact_us .sec-title {
  margin-bottom: 50px;
}
/*
=================================================
  31. error page style
=================================================
*/

.error-page {
  padding: 110px 0px 75px;
}
.error-page .content-box h1 {
  font-size: 160px;
  font-weight: 700;
  color: #75b519;
}
.error-page .content-box h2 {
  margin-bottom: 16px;
}
.error-page .content-box p {
  margin-bottom: 30px;
  color: #848484;
}
.error-page .content-box .sidebar_search {
  max-width: 475px;
  margin-bottom: 35px;
}
.error-page .content-box {
  margin: 20px 0px 50px 40px;
}

.error-page .sidebar_search {
  height: 54px;
  margin-bottom: 35px;
  position: relative;
}
.error-page .sidebar_search input {
  width: 100%;
  height: 50px;
  border: none;
  border: 1px solid #f1f1f1;
  padding: 0 56px 0 12px;
  color: #9e9e9e;
}
.error-page .sidebar_search button {
  width: 54px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  color: #75b519;
}
/*
========================================================
  13. latest-gallery styles 
========================================================
*/
.our-project {
  padding: 80px 0px 50px;
}
.our-project .sec-title {
  margin-bottom: 50px;
}
.our-project .sec-title h2:before {
  left: 50%;
  margin-left: -30px;
}
.our-project .project-item {
  padding-bottom: 30px;
}
.our-project .project-item figure {
  margin-bottom: 0px;
}
.our-project .project-item .img-holder {
  position: relative;
  overflow: hidden;
}
.our-project .project-item .img-holder .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(117, 181, 25, 0.72);
  padding: 14px;
  transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transition: all 500ms ease 0s;
}

.our-project .project-item:hover .overlay {
  transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
}
.our-project .project-item:hover .link-btn a {
  color: #75b519;
}

.our-project .project-item .inner {
  top: 50%;
  position: relative;
  margin-top: -12px;
}
.our-project .project-item .inner i {
  line-height: 0px;
}
.our-project .project-item .inner i:before {
  margin: 0;
  font-size: 50px;
  color: #fff;
}

.our-project .project-item:hover .overlay {
  top: 0px;
}
.our-project .project-item:hover .img-holder h4 a {
  bottom: 0px;
}

.our-project .project-item .img-holder h4 a {
  background: #272727 none repeat scroll 0 0;
  color: #ffffff;
  display: block;
  font-weight: 500;
  height: 40px;
  left: 0;
  padding-top: 10px;
  position: absolute;
  text-align: center;
  transition: all 500ms ease 0s;
  width: 100%;
  bottom: -70px;
  font-size: 18px;
}
.our-project .project-item .img-holder h4 a:hover {
  color: #75b519;
}

.our-project .post-filter {
  display: inline-block;
  margin: 0;
  margin-bottom: 40px;
}

.our-project .post-filter li span {
  padding: 7px 20px;
  color: #343434;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  display: block;
  padding-right: 16px;
  margin-bottom: 8px;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.our-project .post-filter li:hover span,
.our-project .post-filter li.active span {
  color: #fff;
  background: #75b519;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

/*
========================================================================
  Start Team Style  
======================================================================== 
*/

.team-section {
  background: #f7f7f7;
  padding: 80px 0px 40px;
}
.team-section .sec-title {
  margin-bottom: 45px;
}
.team-section.page .team_member .img_holder .overlay {
  background: rgba(106, 175, 7, 0.9);
}
.team-section.page .section-title {
  margin-bottom: 36px;
}

.team-section .team_member .img_holder {
  position: relative;
  margin-bottom: 16px;
}

.team-section .team_member .img_holder .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(98, 157, 14, 0.76);
  padding: 8px;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: all 500ms ease 0s;
}
.team-section .team_member .img_holder img {
  width: 100%;
}
.team-section .team_member .img_holder .overlay .border {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  display: flex;
  display: -webkit-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.team-section .team_member:hover .img_holder .overlay {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.team-section .team_member .img_holder .overlay .border .icon-holder {
  width: 40px;
  height: 40px;
  background: #fff;
  line-height: 20px;
  padding: 4px;
  margin: 8px;
  border-radius: 50%;
  transition: all 500ms ease 0s;
}
.team-section .team_member .img_holder .overlay .border .icon-holder:hover a {
  color: #75b519;
}
.team-section .team_member .img_holder .overlay .border .icon-holder a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  color: #272727;
  padding-top: 6px;
  border-radius: 50%;
  transition: all 500ms ease 0s;
}
.team-section .team_member .text > span {
  color: #75b519;
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 7px;
  padding-top: 4px;
}
.team-section .team_member .text h4 {
  font-size: 18px;
  font-weight: 700;
  color: #222;
}
.team-section .team_member .text p {
  line-height: 24px;
  font-size: 16px;
  color: #848484;
  padding-right: 15px;
  padding-top: 3px;
}
.team-section .team_member {
  margin-bottom: 40px;
}

/* 
=======================================================
  subscribe us  
=======================================================
*/

.subscribe-us {
  background: #75b519;
  padding: 40px 0;
  color: #fff;
}
.subscribe-us h3 {
  color: #fff;
  font-size: 34px;
  font-weight: 700;
  margin: 0;
  line-height: 35px;
  margin-bottom: 16px;
}
.subscribe-us p {
  margin: 0;
}
.subscribe-us .btn-style-two{
  margin-top: 14px;
}

/*
==================================================
  23. two-column style
==================================================
*/
.two-column {
  padding: 80px 0px 0px;
}
.two-column .sec-title {
  margin-bottom: 30px;
}

.two-column .content-box {
  padding: 15px 0px 50px;
  position: relative;
}

.two-column .content-box p {
  color: #666666;
  margin-bottom: 8px;
}
.two-column .content-box .clearfix {
  margin-top: 30px;
}
.two-column .inner-box .image-box {
  position: relative;
  margin-top: -28px;
}
.two-column .inner-box .image-box img {
  width: auto;
  max-width: 100%;
  display: inline-block;
}
.single-choose-item {
  margin-bottom: 26px;
  position: relative;
  background: #fff;
  border: 1px solid #ededed;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.choose-left-bg {
  float: left;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.choose-icon {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  margin-top: 24px;
  line-height: 38px;
  width: 55px;
  height: 55px;
  overflow: hidden;
  text-align: center;
}
.choose-icon i,
.choose-icon i:before {
  font-size: 36px;
  color: #7aba1e;
  position: relative;
  top: 1px;
  margin: 0;
}
.choose-icon i,
.choose-icon i:before {
  font-size: 36px;
  color: #7aba1e;
  position: relative;
  top: 1px;
  margin: 0;
}
.choose-text {
  overflow: hidden;
  padding: 10px 10px 2px;
}
.choose-text h4 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 13px;
  margin-top: 0;
  text-transform: capitalize;
}
.choose-text h4 a {
  color: #222222;
  transition: 0.5s;
}
.choose-text h4 a:hover {
  color: #7aba1e;
  transition: 0.5s;
}
.choose-text p {
  color: #777777;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 22px;
}

/*
=========================================================
testimonial Styles 
=========================================================
*/

.testimonial {
  padding: 80px 0px 80px;
  position: relative;
  background: #222;
}
.testimonial .sec-title {
  margin-bottom: 45px;
  text-align: center;
}
.testimonial .sec-title h2:before {
  left: 50%;
  margin-left: -30px;
}
.testimonial.style-2 {
  padding: 50px 0px 80px;
}

.testimonial .sec-title h2 {
  color: #fff;
}
.testimonial .img-holder {
  position: relative;
  width: 100%;
  height: 100%;
}
.testimonial .single-item {
  padding: 18px 18px 10px;
  border: 1px solid #363636;
  position: relative;
  text-align: center;
  background: #363636;
}
.testimonial.style-2 .single-item {
  margin-top: 30px;
  border: none;
}
.testimonial .img-holder img {
  max-width: none;
  position: absolute;
  right: -15px;
  z-index: -1;
}
.testimonial .single-item .img-box {
  display: inline-block;
  position: relative;
  border: 2px solid #ffffff;
  border-radius: 50%;
  padding: 4px;
}
.testimonial .single-item .img-box img {
  height: 92px;
  width: 92px;
  border-radius: 50%;
}
.testimonial .single-item .text h4 {
  color: #ffffff;
  font-size: 18px;
  margin-top: 12px;
}
.testimonial .single-item .icon i {
  color: #75b519;
  font-size: 14px;
  margin-top: 10px;
}
.testimonial .single-item .text h3 {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-top: 8px;
}
.testimonial .single-item .text p {
  color: #ffffff;
  font-size: 14px;
  margin: 9px 0px 15px;
}
.testimonial .single-item .text img {
  margin-top: 29px;
  margin: 0 auto;
  margin-bottom: 11px;
  width: auto;
}
.testimonialswiper .swiper-pagination {
  position: relative;
  margin-top: 30px;
}

/* inactive bullet color */
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  background-color: #fff !important;
  opacity: 1 !important;
}

/* Active bullet color */
.swiper-pagination-bullet-active {
  background-color: #75b519 !important;
}

/*
============================================================
  latest-news
============================================================
*/
.latest-news {
  padding: 80px 0px 60px;
}
.latest-news.pb-80 {
  padding: 80px 0px 80px;
}
.latest-news.with-sidebar {
  padding: 80px 0px 80px;
}
.latest-news .sec-title {
  margin-bottom: 35px;
}

.latest-news .item {
  margin-top: 10px;
  margin-bottom: 20px;
}
.latest-news.with-sidebar .item {
  margin-top: 0px;
  margin-bottom: 30px;
}
.latest-news .item .image-box {
  overflow: hidden;
  position: relative;
  margin-bottom: 0px;
}
.latest-news .item .image-box img {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 100%;
}
.latest-news .item:hover .image-box img {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.latest-news .item .content-box {
  padding: 15px 17px;
  border: 1px solid #eee;
}

.latest-news .item .content-box .comments li {
  display: inline-block;
  margin-right: 20px;
}
.latest-news .item .content-box .comments li i {
  margin-right: 10px;
  color: #75b519;
}
.latest-news .item .content-box h4 {
  font-size: 18px;
  margin: 10px 0px;
}
.latest-news .item .content-box h4 a {
  color: #222;
  transition: 0.5s;
}
.latest-news .item .content-box h4 a:hover {
  color: #75b519;
  transition: 0.5s;
}
.latest-news .item:hover .content-box h4 a {
  color: #75b519;
}
.latest-news .item .content-box p {
  color: #484848;
}

/*
=================================================
  footer
=================================================
*/
.footer {
  background: #222;
  color: #fff;
}
.footer .footer-upper {
  padding: 40px 0px 60px;
}
.footer .footer-upper .item {
  margin-top: 30px;
}
.footer .footer-upper .item h3 {
  color: #75b519;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  position: relative;
  margin-bottom: 29px;
}
.footer .footer-upper .item .footer-logo {
  margin-bottom: 25px;
}
.footer .footer-upper .item .footer-logo .image-box img {
  max-width: 100%;
  width: auto;
}

.footer .footer-upper .item .working-hour li {
  color: #75b519;
  font-size: 18px;
  line-height: 30px;
}
.footer .footer-upper .item .working-hour li i {
  margin-right: 10px;
}
.footer .footer-upper .item .working-hour li span {
  color: #fff;
}
.footer .footer-upper .item .location {
  margin-top: 10px;
}
.footer .footer-upper .item .location li {
  color: #75b519;
  font-size: 18px;
  line-height: 30px;
}
.footer .footer-upper .item .location li i {
  margin-right: 10px;
}
.footer .footer-upper .item .location li span {
  color: #fff;
}

.footer .footer-upper .item .recent-news .single-news {
  margin-bottom: 10px;
  overflow: hidden;
}
.footer .footer-upper .item .recent-news .single-news .image-holder {
  float: left;
  height: 100%;
  width: 70px;
  margin-right: 18px;
}
.footer .footer-upper .item .recent-news .single-news .text {
  float: left;
  height: 100%;
  max-width: 170px;
}
.footer .footer-upper .item .recent-news .single-news .text h4 a {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  margin-top: -5px;
  display: block;
  transition: all 500ms ease 0s;
}
.footer .footer-upper .item .recent-news .single-news .text h4 a:hover {
  color: #75b519;
}
.footer .footer-upper .item .recent-news .single-news .text p {
  color: #75b519;
}
.footer .footer-upper .item .recent-news .single-news .text i {
  margin-right: 5px;
}

.footer .footer-upper .item .services .service-list {
  margin-top: -12px;
}

.footer .footer-upper .item .services .service-list li a {
  color: #fff;
  font-size: 16px;
  line-height: 34px;
  transition: all 500ms ease 0s;
}
.footer .footer-upper .item .services .service-list li a:hover {
  color: #75b519;
}
.footer .footer-upper .item .services .service-list li i {
  margin-right: 8px;
}

.footer .footer-upper .item .newsletter {
  position: relative;
}

.footer .footer-upper .item .newsletter input {
  background: #272727 none repeat scroll 0 0;
  color: #ffffff;
  border: none;
  height: 44px;
  padding-left: 23px;
}
.footer .footer-upper .item .newsletter .form-control::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}
.footer .footer-upper .item .newsletter input:focus {
  border-color: none;
  border: none;
  box-shadow: none;
}

.footer .footer-upper .item .newsletter button {
  background: #75b519 none repeat scroll 0 0;
  height: 44px;
  position: absolute;
  right: 0;
  top: 0px;
  width: 48px;
  transition: all 500ms ease 0s;
}
.footer .footer-upper .item .newsletter > button i {
  font-size: 30px;
  color: #ffffff;
  transition: all 500ms ease 0s;
}
.footer .footer-upper .item .newsletter button:hover i {
  color: #272727;
}

.footer .footer-upper .item .social-icon {
  margin-top: 30px;
}
.footer .footer-upper .item .social-icon h3 {
  margin-bottom: 15px;
}
.footer .footer-upper .item .social-icon .icon-list li {
  display: inline-block;
  margin-top: 10px;
  height: 35px;
  width: 35px;
  margin-right: 7px;
  line-height: 35px;
  text-align: center;
  background: #272727 none repeat scroll 0 0;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}
.footer .footer-upper .item .social-icon .icon-list li:hover {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
  background: #75b519;
  color: #ffffff;
}

.footer .footer-upper .item .social-icon .icon-list li a {
  color: #ffffff;
  font-size: 16px;
}

.footer-bottom {
  padding: 15px 0px 15px;
  background: #272727 none repeat scroll 0 0;
  border-top: 1px solid #333;
  text-align: center;
}
.footer-bottom p {
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
}
.footer-bottom p span {
  color: #75b519;
}

/* 
=========================================================================== 
  single service   
=========================================================================== 
*/
.single-service {
  padding: 80px 0px 80px;
}
.service-content {
  padding-top: 40px;
}
.service-content .sec-title h2 {
  margin-bottom: 20px;
}
.service-content .img-holder {
  margin-top: 10px;
}
.single-service .content-box p {
  margin-top: 20px;
}

/* 
=========================================================================== 
  single project   
=========================================================================== 
*/
.single-project {
  padding: 80px 0px 80px;
}

.single-project .single-item {
  margin-top: 60px;
}
.single-project .single-item p {
  margin-top: 20px;
}
.single-project .single-item img {
  width: 100%;
}

.single-project .information {
  margin-top: 70px;
  border: 1px solid #d7d7d7;
  text-align: center;
}
.single-project .information p {
  border-bottom: 1px solid #e7e7e7;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  margin: 0;
  padding-bottom: 14px;
  padding-top: 10px;
}
.single-project .information p i {
  margin-right: 10px;
  color: #75b519;
}
.single-project .information p span {
  font-weight: normal;
  font-size: 15px;
}

/*
===========================================================
  our gallery
===========================================================
*/
.our-gallery {
  padding: 55px 0px 80px;
  background: #f7f7f7;
}
.our-gallery .item {
  margin-top: 25px;
}
.our-gallery .item .img_holder {
  position: relative;
  overflow: hidden;
}

.our-gallery .item .img_holder .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(106, 175, 8, 0.8);
  padding: 14px;
  transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transition: all 500ms ease 0s;
}

.our-gallery .item:hover .overlay,
.our-gallery .item:focus .overlay {
  transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}
.our-gallery .item:hover .link-btn a {
  color: #75b519;
}

.our-gallery .item .overlay .inner {
  align-items: center;
  border: 1px dashed rgba(255, 255, 255, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
}

.our-gallery .item .inner i:before {
  margin: 0px;
  font-size: 45px;
  color: #fff;
}

/*
========================================================
  gallery-two styles 
========================================================
*/
.gallery-two {
  padding: 95px 0px 70px;
}
.gallery-two .single-item {
  padding-bottom: 30px;
}
.gallery-two .single-item .img-box {
  position: relative;
  overflow: hidden;
}
.gallery-two .single-item .img-box figure {
  margin-bottom: 0px;
}
.gallery-two .single-item .img-box img {
  width: 100%;
}

.gallery-two .single-item .img-box .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(117, 181, 25, 0.72);
  padding: 14px;
  transform: scale(0, 0);
  -webkit-transform: scale(0, 0);
  -moz-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transition: all 500ms ease 0s;
}

.gallery-two .single-item:hover .overlay {
  transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
}

.gallery-two .single-item .img-box .overlay .social {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}
.gallery-two .single-item .img-box .overlay .inner {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}
.gallery-two .single-item .social a i:before {
  font-size: 50px;
  color: #fff;
  margin: 0px;
}
.gallery-two .single-item .social h4 {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  margin-top: 20px;
}

.gallery-two .single-item .img-box .overlay .box {
  display: table;
  width: 100%;
  height: 100%;
}
.gallery-two .single-item .img-box .overlay .box .content {
  display: table-cell;
  vertical-align: bottom;
}
.gallery-two .single-item .img-box .overlay .top {
  text-align: center;
}
.gallery-two .single-item .img-box .overlay .top ul {
  margin-bottom: 0;
  margin-bottom: 20%;
}
.gallery-two .single-item .img-box .overlay .top li a {
  width: 45px;
  height: 45px;
  color: #fff;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  background: #222;
  display: block;
  border-radius: 50%;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.gallery-two .single-item .img-box .overlay .top li a:hover {
  background: #1f1f1f;
  color: #48c7ec;
}
.gallery-two .single-item .img-box .overlay .bottom {
  padding: 10px 0px;
  padding-right: 0;
  text-align: center;
}

.gallery-two .post-filter {
  margin: 0;
  margin-bottom: 50px;
}
.gallery-two .post-filter li {
  padding: 5px 5px;
  display: inline-block;
}

.gallery-two .post-filter li span {
  padding: 7px 20px;
  color: #343434;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  display: block;
  padding-right: 16px;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.gallery-two .post-filter li:hover span,
.gallery-two .post-filter li.active span {
  color: #fff;
  background: #75b519;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

/*
============================================== 
  blog-sidebar
==============================================
*/
.sidebar {
  position: relative;
  padding-left: 40px;
}

.sidebar .widget {
  position: relative;
  margin-bottom: 35px;
}

.sidebar .sidebar-title {
  position: relative;
  margin-top: 0px;
  margin-bottom: 15px;
}

.sidebar .sidebar-title h3 {
  font-size: 20px;
  color: #222222;
  font-weight: 500;
}

.sidebar .sidebar_search {
  height: 54px;
  margin-bottom: 35px;
  position: relative;
}
.sidebar .sidebar_search input {
  width: 100%;
  height: 50px;
  border: none;
  border: 1px solid #f1f1f1;
  padding: 0 56px 0 12px;
  color: #9e9e9e;
}
.sidebar .sidebar_search button {
  width: 54px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  color: #75b519;
}

.sidebar .popular-categories .list {
  position: relative;
}
.sidebar .popular-categories .list li {
  position: relative;
  margin-bottom: 10px;
  line-height: 27px;
}
.sidebar .popular-categories .list li .count {
  position: relative;
  color: #f9ad0a;
}
.sidebar .popular-categories .list li a {
  position: relative;
  display: block;
  color: #848484;
  font-size: 14px;
  font-weight: 400;
  font-family: "open sans";
  transition: 0.5s;
}

.sidebar .popular-categories .list li a:hover {
  color: #75b519;
  transition: 0.5s;
}
.sidebar .popular-categories .list span {
  margin-right: 7px;
  font-size: 11px;
}

.sidebar .popular_tags {
  margin-bottom: 30px;
}
.popular_tags ul {
  padding: 15px 0px;
}
.sidebar .popular_tags ul li {
  display: inline-block;
  margin: 0 4px 8px 0;
}
.sidebar .popular_tags ul li a {
  display: block;
  font-weight: normal;
  font-size: 15px;
  color: #9e9e9e;
  line-height: 32px;
  border: 1px solid #f1f1f1;
  background: #fff;
  border-radius: 2px;
  text-align: center;
  padding: 0 14px;
}
.sidebar .popular_tags ul li a:hover {
  color: #ffffff;
  background: #75b519;
}

.sidebar .recent-news .sidebar-title {
  margin-bottom: 30px;
}
.sidebar .recent-news .single-news {
  margin-bottom: 30px;
}
.sidebar .recent-news .single-news .image-holder {
  height: 100%;
  width: 70px;
  margin-right: 18px;
  float: left;
}
.sidebar .recent-news .single-news .text {
  display: inline-block;
  height: 100%;
  max-width: 170px;
}
.sidebar .recent-news .single-news .text h4 a {
  color: #222;
  font-size: 16px;
  line-height: 24px;
  margin-top: -5px;
  display: block;
  transition: all 500ms ease 0s;
}
.sidebar .recent-news .single-news .text h4 a:hover {
  color: #75b519;
}
.sidebar .recent-news .single-news .text p {
  color: #75b519;
}
.sidebar .recent-news .single-news .text i {
  margin-right: 5px;
}

/*** 

====================================================================
  single blog
====================================================================

***/

.blog-details {
  padding: 80px 0px 50px;
}
.single-blog-post {
  position: relative;
  background: #ffffff;
  margin-bottom: 2px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.single-blog-post .post-header {
  position: relative;
  padding: 18px 0px 0px;
  background: #ffffff;
}

.single-blog-post .post-header h3 {
  position: relative;
  font-size: 24px;
  font-weight: 500;
  margin: 5px 0px 8px;
  color: #222222;
}

.single-blog-postt .post-info {
  position: relative;
  margin-bottom: 18px;
  font-family: "open sans", sans-serif;
}

.single-blog-post .post-info li {
  position: relative;
  display: inline-block;
  margin: 0px 25px 10px 0px;
  color: #848484;
  font-size: 14px;
  font-weight: 400;
}

.single-blog-post .post-info li span:before {
  color: #75b519;
  margin: 0;
  font-size: 14px;
}
.single-blog-post .image-box {
  position: relative;
}

.single-blog-post .image-box figure {
  margin-bottom: 0px;
}
.single-blog-post .image-box img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.single-blog-post .text {
  position: relative;
  margin-bottom: 33px;
  color: #848484;
}
.single-blog-post .text.style-two {
  margin-bottom: 10px;
}

.single-blog-post blockquote {
  position: relative;
  margin-left: 54px;
  padding: 0px 20px 0px 26px;
  line-height: 2em;
  font-size: 14px;
  color: #848484;
  font-weight: 700;
  font-style: italic;
  border-left: 2px solid #e7e7e7;
  font-family: "Open Sans", sans-serif;
}
.single-blog-post .quate {
  position: absolute;
  top: 24px;
  left: -50px;
  font-size: 30px;
  color: #75b519;
}

.single-blog-post .post-desc {
  position: relative;
  padding: 15px 0px;
  background: #ffffff;
  border-top: 1px solid #ededed;
}

/*blog details comment area*/
.blog-comments-area {
  position: relative;
  margin-top: 20px;
}
.blog-comments-area .group-title {
  margin-bottom: 20px;
}
.blog-comments-area .group-title h3 {
  color: #222;
}
.blog-comments-area .comment-box {
  position: relative;
}

.blog-comments-area .comment {
  position: relative;
  margin: 0px 0px 40px 0px;
  padding: 0px 0px 10px 100px;
}

.blog-comments-area .reply-comment {
  margin-left: 50px;
}

.blog-comments-area .comment-box .author-thumb {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 84px;
  height: 84px;
  border: 3px solid #ffffff;
}

.blog-comments-area .comment-box .author-thumb img {
  width: 100%;
  display: block;
}

.blog-comments-area .comment-info {
  margin-bottom: 5px;
  color: #bcbcbc;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.blog-comments-area .comment-box strong {
  color: #202020;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.blog-comments-area .comment-box .text {
  margin-bottom: 8px;
}
.blog-comments-area .reply-option {
  color: #75b519;
}

.blog-comments-area .reply-option .theme-btn {
  padding: 6px 25px;
  margin: 3px 10px;
  color: #75b519;
  float: right;
}
.blog-comments-area .reply-option .theme-btn:hover {
  color: #222;
}

/*
===================================
  form
===================================
*/
.leave-comment .group-title {
  margin-bottom: 20px;
}
.leave-comment .group-title h3 {
  color: #222;
}
.default-form {
  position: relative;
}

.default-form p {
  color: #fff;
  font-size: 18px;
  line-height: 34px;
  margin-bottom: 20px;
}
.default-form p span {
  color: #ab7442;
  font-size: 20px;
  font-weight: 600;
}

.default-form .form-box {
  position: relative;
}

.comment-form .form-box {
  padding: 25px 25px 0px 25px;
}

.default-form .form-group {
  position: relative;
}
.form-group.style-two {
  margin-bottom: 30px;
}
.default-form .comment-form .form-box .form-group {
  margin-bottom: 25px;
}

.default-form.form-box .row {
  margin-left: -10px;
  margin-right: -10px;
}

.default-form.form-box .row .form-group {
  padding: 0px 0px;
}

.default-form .form-group .field-label {
  display: block;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #232323;
  font-weight: 500;
  font-size: 13px;
}

.default-form .form-group .field-label sup {
  color: #75b519;
  font-size: 14px;
}

.default-form input[type="text"],
.default-form input[type="email"],
.default-form input[type="password"],
.default-form input[type="number"],
.default-form select,
.default-form textarea {
  display: block;
  width: 100%;
  line-height: 24px;
  height: 55px;
  font-size: 16px;
  box-shadow: none;
  border: 1px solid #f4f4f4;
  padding: 12px 15px;
  border-radius: 0px;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.default-form textarea {
  height: 120px;
}
.default-form .bootstrap-select {
  border: 1px solid #f4f4f4;
  background: #f7f7f7;
  color: #75b519;
  padding: 10px 0;
  font-size: 16px;
}
.default-form .btn-group.open .dropdown-toggle {
  box-shadow: none;
}
.default-form .btn-group.open .dropdown-toggle:focus {
  border: none;
  outline: none;
}
.default-form .bootstrap-select .dropdown-toggle:focus {
  outline: none !important;
}
.default-form .dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #48c7ec;
  color: #fff;
}
.default-form .form-control:focus {
  border-color: #75b519;
  box-shadow: none;
}

.default-form .thm-btn {
  width: 100%;
}

.default-form form input::-webkit-input-placeholder {
  color: #9e9e9e;
}
.default-form form input:-moz-placeholder {
  /* Firefox 18- */
  color: #9e9e9e;
}
.default-form form input::-moz-placeholder {
  /* Firefox 19+ */
  color: #9e9e9e;
}
.default-form form input:-ms-input-placeholder {
  color: #9e9e9e;
}

.default-form .alert-success {
  color: #48c7ec;
  background: none;
  border: none;
  font-size: 18px;
}

/*
===================================================
  feature-style-three
===================================================
*/
.feature-style-three {
  padding: 60px 0px 0px;
}

.feature-style-three .inner-box {
  text-align: center;
  color: #fff;
}
.feature-style-three .inner-box h3 {
  font-size: 18px;
  color: #222222;
  margin-bottom: 5px;
  font-weight: 500;
  text-transform: capitalize;
}
.feature-style-three .inner-box .icon-box {
  width: 80px;
  height: 80px;
  background: #75b519;
  border: 2px solid #75b519;
  margin: 0 auto;
  border-radius: 50%;
  margin-bottom: 20px;
}
.feature-style-three .inner-box .icon-box .icon {
  color: #fff;
  line-height: 77px;
}
.feature-style-three .inner-box .icon-box .icon:before {
  font-size: 30px;
}
.feature-style-three .inner-box .text {
  position: relative;
  line-height: 27px;
  color: #848484;
  font-family: "roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
